# Docs
doc/*
!doc/*.texi

# Build files
/*.a
/*.so
/.obj

# Executables
/qjs
/qjs32
/qjs32_s
/qjsc
/qjsbn
/qjsbn32
/qjsbnc
/qjscalc
/run-test262
/run-test262-bn

# Allow source files
!/*.c
!/*.h

# Allow only source files in examples
/examples/*
!/examples/*.c
!/examples/*.js
